@{
  Layout = "_Layout";
}

<h1>Welcome to Fluffers McToebeans University!</h1>
<h3>A university for all fine bois and chonks.</h3>
<p>@Html.ActionLink("See all courses", "Index", "Courses")</p>
<p>@Html.ActionLink("See all students", "Index", "Students")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>